<main role="main" class="container">
  <div class="content">
    
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <h1 class="mb-4">Stamp Duty Land Tax Calculator</h1>
        <form>
          <div class="col-12">
            <div class="form-group">
              <label>Purchase Type:</label>
              <select [(ngModel)]="purchaseType" name="purchaseType" class="form-control form-control-lg" placeholder="Enter text to translate">
                <option value="">Select</option>
                <option value="First Time Buyer">First Time Buyer</option>
                <option value="Home Mover">Home Mover</option>
                <option value="Additional Property">Additional Property</option>
              </select>
            </div>
            <div class="form-group">
                <label>House Value (&pound;):</label>
                <input [(ngModel)]="price" name="price" type="number" class="form-control form-control-lg" placeholder="Enter house value" [min]="300000" />
                <small class="text-muted m-0">Minimum {{ '300000' | currency: 'GBP' }}</small>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!(price >= 300000 && purchaseType?.length)" class="btn btn-primary" (click)="calculate()">Calculate</button>
            </div>

            <div class="result mt-5" *ngIf="results">
              <h2>Result</h2>
              <p class="lead">
                Stamp Duty to pay is: <strong>{{ results.totalTaxAmount | currency:'GBP' }}</strong>
              <p>
                Purchase Type: {{ results.purchaseType }} <br />
                House Value : {{ results.price | currency:'GBP' }}
              </p>
              <hr />
              <h5 class="text-muted">Breakdown</h5>
              <p *ngFor="let result of results.breakdown" class="breakdown text-muted">
                <span *ngIf="result.taxableAmount">{{ result.taxPercent }}% on the {{ result.taxableAmount | currency:'GBP' }} = {{ result.taxAmount | currency:'GBP' }}</span>
              </p>
            </div>
          </div>
        </form>
      </div>

      <!-- Sidebar -->
      <div class="col-md-4 mt-4">
          <div class="card mt-5" style="width: 18rem;">
            <div class="card-header font-weight-bold">
              Stamp Duty
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="resultsHistory.length == 0">
                No entries found.
              </li>
              <li class="list-group-item text-left" *ngFor="let history of resultsHistory?.slice().reverse();">
                <h6 class="m-0">{{ history.totalTaxAmount | currency:'GBP' }}</h6>
                <small class="text-muted m-0">
                  Purchase Type: {{ history.purchaseType }} <br />
                  House Value : {{ history.price | currency:'GBP' }}
                </small>
              </li>
              
            </ul>
          </div>
        </div>
      
    </div>
  </div>
</main><!-- /.container -->